<div class="d-flex flex-column">
	<h1>Create New Product</h1>

	<form [formGroup]="productForm">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input formControlName="name"
			       matInput
			       type="text"/>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Price</mat-label>
			<input formControlName="price"
			       matInput
			       type="number"/>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Description</mat-label>
			<textarea formControlName="description"
			          matInput
			          type="text"></textarea>
		</mat-form-field>
	</form>
</div>
